# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore build artifacts and compiled files
dist/
build/
*.log
*.zip

# Ignore editor-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore dependency lock files
package-lock.json
yarn.lock
